:root {   
    --pink: #FEC7D7;
    --purple: #A786DF;
    --softPurple: #D9D4E7;
    --Aquamarine: #85D1CE;
    --blue: #91C1D7;
    --white: #FFFFFE;
    --black:#0E172C;
    --gray:#535353;
}

body{
    background-color: var(--pink);
    width: 95%;
    margin: auto;    
}

@media (max-width: 800px) {
    body {
        background-color: var(--pink);        
        width: 100%;
        height: 100vh;
        margin: auto;
    }
}

#img1{
    display: none;
    margin-left: 50%;
    margin-top: 70%;
}

#img2{
    display: none;
    margin-left: 35%;
    margin-top: 55%;
}

.link-logo{
    text-decoration: none;
    color: var(--white);
}

.cont-index{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30%;
}

.cont-index2{
    padding: 30px;
}

.img-index{
    display: inline-block;
    justify-content: center;
    text-align: center;
    
}

.btn-index{
    display: flex;
    margin: auto;
    background-color: var(--black);
    border-radius: 20px;
    padding: 10px 130px;
    color: var(--white);
}

.cont-index2{
    padding: 50px;
}

.div-btn{
    padding: 15px;
}
 
header{
    margin: auto;
    text-align: left;
}

h1{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}
h2{
    margin-left: 5%;
}

.cont-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.cate-btn{
    background-color: var(--black);
    width: 150px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    border-radius: 10%;
    color: var(--white);
    align-items: center;
    border: none;
}

.cate-btn:hover{
    opacity: 1;
}

footer{
background-color: var(--white);
height: 10vh;
display: flex;
justify-content:space-evenly;
align-items: end;
color: var(--white);
width: 100%;
margin-top: 90%;
}

footer a{
color: var(--white);
text-decoration: none;
padding: 0.25rem 1rem;
text-align: center;
font-family: 'Nunito', sans-serif ;
display: inline;
}

a:visited , a:focus , a:active, a:link{
color: var(--white);
}

.selection {
background-color: var(--black);
border-radius: 20px;
color: var(--softAquamarine);
}

.profileTitle{
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
}

.profileFoto{
    border-radius: 50%;
    margin-right: 40%;
    margin-left: 40%;
    width: 100px;
    height: 100px;
}

.profileNombre{
    width: max-content;
    font-size: 24px;
    margin-bottom: 10px;
    margin: auto;
    padding: 15px;
}

.btnEditar{
    background-color: transparent;
    border: none;
    width: max-content;;
    font-size: 15px;
    padding: 0;
    margin-bottom: 2rem;
    margin-right: 50%;
    margin-left: 40%;
}

form{
   display: flex;
   justify-content: center;
   text-align: center;      
}

.form-control{
    border: solid 1px var(--black);
}

#inputId{
    display: none;
}

.enviarProfile{
    width: 80%;
    color: var(--white);
    display:flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 15%;
    padding-right: 15%;    
    background-color: var(--black);
    border-radius: 20px;
    margin-bottom: 3rem;
}

#formularioPerfil {
    width: 450px;
    margin: auto;
    /* visibility: hidden; */
}

.card-img-overlay{
    display: flex;
    align-items: flex-end;
}
.card-title{
    width: 100%;
}

.btnBack{
    position: relative;
    margin-left: 4%;    
    top: 80px;
    z-index: 1;
}

.imgPrincipal{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    bottom: 50px;
}


.circleLike {
    background-image: url(../images/not-save.png);
    background-repeat: no-repeat;
    right: 0;
    top: 0.25px;
}

.circlePush {
    background-image: url(../images/save.png);
    background-repeat: no-repeat;
    right: 0;
    top: 0.25px;
}


.gender {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    justify-content: center;    
    
}

.address {
    margin: 24px 24px 0px 0px;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: var(--gray);
}
.ubicacion {
    width: 24px;
    height: 24px;
    margin: 24px 8px 0px 24px;
}

.titlePersonalidad {
    margin:32px 10px 8px;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    box-sizing: border-box;
    text-align: left;
}

.imgPerso {
    width: 40px;
    height: 40px;
}

.conPersonality{
    display: inline;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
}

.boxPerso {
    width: 90px;
    height: 90px;
    border: 2px solid var(--purple);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 8px 10px 8px 10px;
    text-align: center;    
}

.textPerso {
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.005em;
    color: var(--gray);
}

.contHistory{
    padding-bottom: 30px;
}

.hHistory{
    margin: 10px 10px;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    align-self: stretch;
    color: var(--black);
}

.pDetails {
    margin-top: 8px;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: var(--gray);
    margin-left: 10px;
    margin-right: 24px;
}

.userImgDetails{
    margin-left: 10px;
    margin-top: 5px;
}

.subUserDet {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.004em;
    color: var(--gray);
}

.UserDet {
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family:'Nunito', sans-serif;
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.005em;
}

.btnDetails {
    width: fit-content;
    color: var(--white);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 15%;
    padding-right: 10%;
    background-color: var(--black);
    border-radius: 20px;
    margin-top: 20px;
    font-family:'Nunito', sans-serif;
    line-height: 16px;
    text-decoration: none;    
}

.detailNav {
    display: inline-flex;
    justify-content: space-around;
}

#containerChat{
    display: inline-flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-family:'Nunito', sans-serif;
}

.div1{
    display: inline;
    
}

.div2{
    display: flex;
    justify-content: space-between;
}

.headerme{
    width: 100%;
    height: 15%;
    display: inline-block;
    text-align: center;
}

.emptyChat-mensaje{
    padding: 40px;
}
